@import "abstract/variables";

// ------------------------- COLORS -------------------------
$colors: (
	wht: $white,
	blk: $black,
	grey-1: $grey-1,
	grey-2: $grey-2,
	grey-3: $grey-3,
	grey-4: $grey-4,
	grey-5: $grey-5,
	grey-6: $grey-6,
	grey-7: $grey-7,
	grey-8: $grey-8,
	grey-9: $grey-9,
	grey-10: $grey-10,
	grey-11: $grey-11,
	grey-12: $grey-12,
	grey-13: $grey-13,
	grey-14: $grey-14,
	grey-15: $grey-15,
	red-1: $color-red-1,
	red-2: $color-red-2,
	red-3: $color-red-3,
	red-4: $color-red-4,
	red-5: $color-red-5,
	red-6: $color-red-6,
	red-7: $color-red-7,
	red-8: $color-red-8,
	red-9: $color-red-9,
	red-10: $color-red-10,
	red-11: $color-red-11,
	red-12: $color-red-12,
	orange-1: $color-orange-1,
	orange-2: $color-orange-2,
	orange-3: $color-orange-3,
	orange-4: $color-orange-4,
	orange-5: $color-orange-5,
	orange-6: $color-orange-6,
	yellow-1: $color-yellow-1,
	yellow-2: $color-yellow-2,
	yellow-3: $color-yellow-3,
	yellow-4: $color-yellow-4,
	yellow-5: $color-yellow-5,
	yellow-6: $color-yellow-6,
	peach-1: $color-peach-1,
	peach-2: $color-peach-2,
	peach-3: $color-peach-3,
	peach-4: $color-peach-4,
	peach-5: $color-peach-5,
	peach-6: $color-peach-6,
	peach-7: $color-peach-7,
	peach-8: $color-peach-8,
	peach-9: $color-peach-9,
	peach-10: $color-peach-10,
	peach-11: $color-peach-11,
	peach-12: $color-peach-12,
	brown-1: $color-brown-1,
	brown-2: $color-brown-2,
	brown-3: $color-brown-3,
	brown-4: $color-brown-4,
	brown-5: $color-brown-5,
	brown-6: $color-brown-6,
	brown-7: $color-brown-7,
	brown-8: $color-brown-8,
	brown-9: $color-brown-9,
	brown-10: $color-brown-10,
	brown-11: $color-brown-11,
	brown-12: $color-brown-12,
	pink-1: $color-pink-1,
	pink-2: $color-pink-2,
	pink-3: $color-pink-3,
	pink-4: $color-pink-4,
	pink-5: $color-pink-5,
	pink-6: $color-pink-6,
	pink-7: $color-pink-7,
	pink-8: $color-pink-8,
	pink-9: $color-pink-9,
	pink-10: $color-pink-10,
	pink-11: $color-pink-11,
	pink-12: $color-pink-12,
	purple-1: $color-purple-1,
	purple-2: $color-purple-2,
	purple-3: $color-purple-3,
	purple-4: $color-purple-4,
	purple-5: $color-purple-5,
	purple-6: $color-purple-6,
	purple-7: $color-purple-7,
	purple-8: $color-purple-8,
	purple-9: $color-purple-9,
	purple-10: $color-purple-10,
	purple-11: $color-purple-11,
	purple-12: $color-purple-12,
	blue-1: $color-blue-1,
	blue-2: $color-blue-2,
	blue-3: $color-blue-3,
	blue-4: $color-blue-4,
	blue-5: $color-blue-5,
	blue-6: $color-blue-6,
	blue-7: $color-blue-7,
	blue-8: $color-blue-8,
	blue-9: $color-blue-9,
	blue-10: $color-blue-10,
	blue-11: $color-blue-11,
	blue-12: $color-blue-12,
	turquoise-1: $color-turquoise-1,
	turquoise-2: $color-turquoise-2,
	turquoise-3: $color-turquoise-3,
	turquoise-4: $color-turquoise-4,
	turquoise-5: $color-turquoise-5,
	turquoise-6: $color-turquoise-6,
	turquoise-7: $color-turquoise-7,
	turquoise-8: $color-turquoise-8,
	turquoise-9: $color-turquoise-9,
	turquoise-10: $color-turquoise-10,
	turquoise-11: $color-turquoise-11,
	turquoise-12: $color-turquoise-12,
	green-1: $color-green-1,
	green-2: $color-green-2,
	green-3: $color-green-3,
	green-4: $color-green-4,
	green-5: $color-green-5,
	green-6: $color-green-6,
	green-7: $color-green-7,
	green-8: $color-green-8,
	green-9: $color-green-9,
	green-10: $color-green-10,
	green-11: $color-green-11,
	green-12: $color-green-12
);

// For each pair in the above map, create a color, background-color, and border-color class based on their values
@each $name, $color in $colors {
	.#{$name} {
		color: $color;
	}

	.bg-#{$name} {
		background-color: $color;
	}

	.bdr-#{$name} {
		border-color: $color;
	}
}


// ------------------------- BORDER RADIUS -------------------------
$border-radius: (
	bdr-rad-1: $border-radius-1,
	bdr-rad-3: $border-radius-3,
	bdr-rad-5: $border-radius-5,
	bdr-rad-7: $border-radius-7,
	bdr-rad-9: $border-radius-9,
	bdr-rad-11: $border-radius-11,
	bdr-rad-13: $border-radius-13,
	bdr-rad-15: $border-radius-15,
	bdr-rad-20: $border-radius-20,
	bdr-rad-25: $border-radius-25,
	bdr-rad-30: $border-radius-30,
	bdr-rad-35: $border-radius-35,
	bdr-rad-40: $border-radius-40,
	bdr-rad-45: $border-radius-45,
	bdr-rad-50: $border-radius-50,
	bdr-rad-100: $border-radius-100,
	bdr-rad-rnd: $border-radius-round
);

// For each pair in the above map, create a color, background-color, and border-color class based on their values
@each $name, $rad in $border-radius {
	.#{$name} {
		border-radius: $rad;
	}
}


// ------------------------- BORDER STYLE -------------------------
$border-style: (
	bdr-dsh: $border-style-dashed,
	bdr-dot: $border-style-dotted,
	bdr-dbl: $border-style-double,
	bdr-none: $border-style-none,
	bdr-sld: $border-style-solid
);

// For each pair in the above map, create a color, background-color, and border-color class based on their values
@each $name, $style in $border-style {
	.#{$name} {
		border-style: $style;
	}
}