@charset "utf-8";

html {
	@include htmlBoxReset;

	font-size: $fnt-sz-def; // Equivalent to 10px

	// Quick/easy font resizing for various screen-widths based off the Media Query Manager (see _mixins.scss)
	// min-width 576px
	// 1rem = 11px --> 11/16 = 68.75%
	@include respond(mobile-lg) {
		font-size: $fnt-sz-mbl-lg;
	}

	// min-width 768px
	// 1rem = 11px --> 11/16 = 68.75%
	@include respond(tab-port) {
		font-size: $fnt-sz-tab-port;
	}

	// min-width 1024px
	// 1rem = 12px --> 12/16 = 75%
	@include respond(tab-land) {
		font-size: $fnt-sz-tab-land;
	}

	// min-width 1366px
	// 1rem = 13px --> 13/16 = 81.25%
	@include respond(laptop) {
		font-size: $fnt-sz-laptop;
	}

	// min-width 1920px
	// 1rem = 14px --> 14/16 = 87.5%
	@include respond(desktop) {
		font-size: $fnt-sz-desktop;
	}

	// min-width 2560px
	// 1rem = 16px --> 16/16 = 100%
	@include respond(desktop-lg) {
		font-size: $fnt-sz-desktop-lg;
	}

	// min-width 3840px
	// 1rem = 18px --> 18/16 = 112.5%
	@include respond(desktop-4k) {
		font-size: $fnt-sz-desktop-4k;
	}
}

*,
*::before,
*::after {
	@include universalBoxReset;
}

body {
	@include defaultFontStyles;
}

img {
	@include responsiveImages;
}

// Remove the underline to links by default
a:link,
a:visited {
	text-decoration: $txt-no-dec;
}

// Remove bullet points to lists by default
ul,
ol {
	list-style: $list-no-dec;
}