@charset "utf-8";

html {
	@include html-selector-box-sizing-reset;

	 // Changes root font size from 16px to 10px for easier calculations
	font-size: $font-size-default;
}

*,
*::before,
*::after {
	@include universal-selector-box-sizing-reset;
}

body {
	@include default-font-styles;
}

img {
	@include responsive-images;
}

a:link,
a:visited {
	text-decoration: $text-no-decoration;
}

ol,
ul {
	list-style: $list-no-decoration;
}