@charset "utf-8";

html {
  box-sizing: border-box;
  font-size: 100%; // 16px

  @media #{$desktop-small} {
    font-size: 87.5%; // 14px
  }

  @media #{$tablet-landscape} {
    font-size: 75%; // 12px
  }

  @media #{$mobile-xlarge} {
    font-size: 62.5%; // 10px
  }
}

body {
  line-height: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
  zoom: 1;
}
