@charset "utf-8";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	@extend %universal-selector-box-sizing-reset;
}

body {
	@extend %default-font-styles;
}

img {
	@extend %responsve-images;
}

a:link,
a:visited {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

h1 {
	font-size: 2rem; // 32px

	@media #{$bp-tablet-landscape} {
		font-size: 2.5rem; // 40px
	}

	@media #{$bp-laptop-large} {
		font-size: 3rem; // 48px
	}

	@media #{$bp-desktop-large} {
		font-size: 3.5rem; // 56px
	}
}

h2 {
	font-size: 1.625rem; // 26px

	@media #{$bp-tablet-landscape} {
		font-size: 2rem; // 32px
	}

	@media #{$bp-laptop-large} {
		font-size: 2.25rem; // 36px
	}

	@media #{$bp-desktop-large} {
		font-size: 2.5rem; // 40px
	}
}

h3 {
	font-size: 1.375rem; // 22px

	@media #{$bp-tablet-landscape} {
		font-size: 1.5rem; // 24px
	}

	@media #{$bp-laptop-large} {
		font-size: 1.75rem; // 28px
	}

	@media #{$bp-desktop-large} {
		font-size: 2rem; // 32px
	}
}

h4 {
	font-size: 1.125rem; // 18px

	@media #{$bp-laptop-small} {
		font-size: 1.375rem; // 22px
	}
}