// Utility Classes - add these classes to your elements for easy styling!


// CENTER ALIGN TEXT
.u-center-text {
    text-align: center !important;
}


// MARGIN CENTER
.u-margin-center {
    margin: 0 auto;
}

// TEXT SIZES
// Use these utility classes for adding responsive font sizes for optimal readability
.u-heading-primary {
    font-size: 3.25rem;

    @include respond (tab-land) {
        font-size: 4rem;
    }

    @include respond (laptop) {
        font-size: 4.75rem;
    }

    @include respond (desktop-4k) {
        font-size: 5.5rem;
    }
}

.u-heading-secondary {
    font-size: 2.5rem;

    @include respond (tab-land) {
        font-size: 3.25rem;
    }

    @include respond (laptop) {
        font-size: 3.75rem;
    }

    @include respond (desktop-4k) {
        font-size: 4.25rem;
    }
}


.u-heading-tertiary {
    font-size: 2.25rem;

    @include respond (tab-land) {
        font-size: 2.5rem;
    }

    @include respond (laptop) {
        font-size: 2.75rem;
    }

    @include respond (desktop-4k) {
        font-size: 3rem;
    }
}

.u-heading-quaternary {
    font-size: 1.75rem;

    @include respond (laptop) {
        font-size: 2rem;
    }

    @include respond (desktop-4k) {
        font-size: 2.5rem;
    }
}

.u-paragraph {
    font-size: 1.6rem;

    @include respond (desktop-4k) {
        font-size: 1.8rem;
    }
}