// ------------------------------ TEXT ALIGNMENT ------------------------------
.txt-ac {
	text-align: $text-center;
}

.txt-al {
	text-align: $text-left;
}

.txt-ar {
	text-align: $text-right;
}

.txt-aj {
	text-align: $text-justify;
}


// ------------------------------ MARGIN CENTER ------------------------------
.mc {
	margin: $margin-center;
}


// ------------------------------ WHITE/BLACK ------------------------------
.wht {
	color: $white;
}

.blk {
	color: $black;
}

.bg-wht {
	background-color: $white;
}

.bg-blk {
	background-color: $black;
}


// ------------------------------ FLEX CENTER ------------------------------
.flx-c {
	@include flex-center;
}