// ---------- TEXT ALIGNMENT ----------
.text-center {
	text-align: $text-center;
}

.text-left {
	text-align: $text-left;
}

.text-right {
	text-align: $text-right;
}

.text-justify {
	text-align: $text-justify;
}

// ---------- MARGIN CENTER ----------
.margin-center {
	margin: $margin-center;
}

// ---------- WHITE/BLACK ----------
.white {
	color: $white;
}

.black {
	color: $black;
}

.bg-white {
	background-color: $white;
}

.bg-black {
	background-color: $black;
}