// ----- COLORS MAP -----
// Update as need for your project
$colors: (
	primary: #fff,
	secondary: #fff,
	tertiary: #fff,
	quaternary: #fff
);
@function color($color-name) {
	@return map-get($colors, $color-name);
}
// Call the function like this: 
// color: color(pri); 
// You can also use the lighten() and darken() Sass functions with the map like so: 
// color: lighten(color(primary), 7.5%);


// ----- SIZES MAP -----
// Similar to color map, and without use of lots of variables
$sizes: (
	x-tny: 0.5rem,	// extra-tiny
	tny: 1rem,			// tiny
	x-sml: 2rem,		// extra-small
	sml: 3rem,			// small
	med: 4rem,			// medium
	lg: 5rem,				// large
	x-lg: 6rem,			// extra-large
	xx-lg: 7rem,		// extra-extra-large
	hg: 8rem,				// huge
	x-hg: 9rem,			// extra-huge
	msv: 10rem			// massive
);
@function size($size) {
	@return map-get($sizes, $size);
}
// Use as a value like so:
// font-size: size(sml);
// font-size: size(med) * 2.5
// font-size: size(x-lg) + 2rem;


// ----- SIZE MAP -----
$sizing: (
	x-tny: 50%,		// extra-tiny
	tny: 55%,			// tiny
	x-sml: 60%,		// extra-small
	sml: 65%,			// small
	med: 70%,			// medium
	lg: 75%,			// large
	x-lg: 80%,		// extra-large
	xx-lg: 85%,		// extra-extra-large
	hg: 90%,			// huge
	x-hg: 95%,		// extra-huge
	full: 100%		// massive
);
@function size($size) {
	@return map-get($sizing, $size);
}
// Use as a value like so:
// width: size(x-tny);
// height: size(sml) * 2.5;