// ------------------------- BLACK & WHITE -------------------------
// Basic black and white colors
$clr-wht: #fff;
$clr-blk: #000;

// ------------------------- GREYS -------------------------
// Various shades of greys; update/add more if you like!
$clr-gry-xlt-1: #f4f4f4;
$clr-gry-xlt-2: #eee;
$clr-gry-xlt-3: #ddd;

$clr-gry-lt-1: #ccc;
$clr-gry-lt-2: #bbb;
$clr-gry-lt-3: #aaa;

$clr-gry-med-1: #999;
$clr-gry-med-2: #888;
$clr-gry-med-3: #777;

$clr-gry-drk-1: #666;
$clr-gry-drk-2: #555;

$clr-gry-xdrk-1: #444;
$clr-gry-xdrk-2: #333;
$clr-gry-xdrk-3: #222;
$clr-gry-xdrk-4: #111;

// ------------------------- IMPORTANT COLORS -------------------------
// Update as per your project (both the color values and percentages. add/remove as desired)
$clr-pri: #fff;
$clr-pri-lt: lighten($clr-pri, 7.5%);
$clr-pri-xlt: lighten($clr-pri, 12.5%);
$clr-pri-drk: darken($clr-pri, 7.5%);
$clr-pri-xdrk: darken($clr-pri, 12.5%);

$clr-sec: #fff;
$clr-sec-lt: lighten($clr-sec, 7.5%);
$clr-sec-xlt: lighten($clr-sec, 12.5%);
$clr-sec-drk: darken($clr-sec, 7.5%);
$clr-sec-xdrk: darken($clr-sec, 12.5%);

$clr-tert: #fff;
$clr-tert-lt: lighten($clr-tert, 7.5%);
$clr-tert-xlt: lighten($clr-tert, 12.5%);
$clr-tert-drk: darken($clr-tert, 7.5%);
$clr-tert-xdrk: darken($clr-tert, 12.5%);

$clr-quat: #fff;
$clr-quat-lt: lighten($clr-quat, 7.5%);
$clr-quat-xlt: lighten($clr-quat, 12.5%);
$clr-quat-drk: darken($clr-quat, 7.5%);
$clr-quat-xdrk: darken($clr-quat, 12.5%);

// ------------------------- FLAT COLORS -------------------------
// Some nice flat colors to get you started if you are stuck deciding on which color(s) to use
// Included are light and dark versions of each color
// These were calculated using the lighten() and darken() functions with an amount of 12.5%
// Colors & color names from default palette by Flat UI Colors: https://flatuicolors.com/palette/defo
// To see their other palettes, go to https://flatuicolors.com/
// Again, if you don't want to use any of these colours, then feel free to remove them. They are just a general starting to help you out if you are stuck on deciding which colors to use for your project :)
$clr-alizarin-lt: #ee8075;
$clr-alizarin: #e74c3c;
$clr-alizarin-drk: #ca2a19;

$clr-pomegranate-lt: #d85f52;
$clr-pomegranate: #c0392b;
$clr-pomegranate-drk: #8c2a1f;

$clr-carrot-lt: #ec9f5b;
$clr-carrot: #e67e22;
$clr-carrot-drk: #b45f14;

$clr-pumpkin-lt: #ff7114;
$clr-pumpkin: #d35400;
$clr-pumpkin-drk: #933b00;

$clr-sun-flower-lt: #f5d34b;
$clr-sun-flower: #f1c40f;
$clr-sun-flower-drk: #b6940b;

$clr-orange-lt: #f6b54f;
$clr-orange: #f39c12;
$clr-orange-drk: #bc770a;

$clr-turquoise-lt: #33e3c0;
$clr-turquoise: #1abc9c;
$clr-turquoise-drk: #12846e;

$clr-green-sea-lt: #1ed8b4;
$clr-green-sea: #16a085;
$clr-green-sea-drk: #0e6856;

$clr-emerald-lt: #5fdb93;
$clr-emerald: #2ecc71;
$clr-emerald-drk: #229854;

$clr-nephritis-lt: #40d47f;
$clr-nephritis: #27ae60;
$clr-nephritis-drk: #1b7a43;

$clr-peter-river-lt: #6ab3e5;
$clr-peter-river: #3498db;
$clr-peter-river-drk: #1f76b0;

$clr-belize-hole-lt: #4b9fd7;
$clr-belize-hole: #2980b9;
$clr-belize-hole-drk: #1d5c85;

$clr-amethyst-lt: #b685c9;
$clr-amethyst: #9b59b6;
$clr-amethyst-drk: #793f90;

$clr-wisteria-lt: #ab6cc5;
$clr-wisteria: #8e44ad;
$clr-wisteria-drk: #68327f;

$clr-wet-asphalt-lt: #4b6987;
$clr-wet-asphalt: #34495e;
$clr-wet-asphalt-drk: #1d2935;

$clr-midnight-blue-lt: #435e79;
$clr-midnight-blue: #2c3e50;
$clr-midnight-blue-drk: #151e27;

$clr-clouds-lt: #f6f6f6;
$clr-clouds: #ecf0f1;
$clr-clouds-drk: #c7d3d6;

$clr-silver-lt: #dfe2e4;
$clr-silver: #bdc3c7;
$clr-silver-drk: #9ba4aa;

$clr-concrete-lt: #b8c2c3;
$clr-concrete: #95a5a6;
$clr-concrete-drk: #738789;

$clr-asbestos-lt: #a1aaab;
$clr-asbestos: #7f8c8d;
$clr-asbestos-drk: #606b6c;

// ------------------------- BORDER-RADIUS -------------------------
// Intended to be applied to an element on all corners, giving it nice rounded edges
$br-sml: 3px;
$br-med: 5px;
$br-lg: 7px;
$br-xlg: 10px;

// ------------------------- TEXT DECORATION -------------------------
// Basic text-decoration values
$txt-cntr: center;
$txt-uppr: uppercase;
$txt-lwr: lowercase;
$txt-no-dec: none;

// ------------------------- LINE HEIGHT -------------------------
// Set to 145% by default
// Best to use anywhere from 125% - 150%
$lh-def: 145%; // Default value
$lh-tny-1: 100%;
$lh-tny-2: 105%;
$lh-sml-1: 110%;
$lh-sml-2: 115%;
$lh-med-1: 120%;
$lh-med-2: 125%;
$lh-lg-1: 130%;
$lh-lg-2: 135%;
$lh-hg-1: 140%;
$lh-hg-2: 150%;

// ------------------------- FONT-FAMILY -------------------------
// Change as per your project
$txt-brand: sans-serif; // Use this for your company/brand logo (if applicable)
$txt-main: sans-serif; // Use this for the overall site (if applicable)

// ------------------------- LIST DECORATION -------------------------
// Removes bullets from lists
$list-no-dec: none;

// ------------------------- WRAPPER -------------------------
// Various wrapper sizes (used for width)
$wrap-tny-1: 50%;
$wrap-tny-2: 55%;
$wrap-sml-1: 60%;
$wrap-sml-2: 65%;
$wrap-med-1: 70%;
$wrap-med-2: 75%;
$wrap-lg-1: 80%;
$wrap-lg-2: 85%;
$wrap-xlg-1: 90%;
$wrap-xlg-2: 95%;
$wrap-full: 100%;

// ------------------------- MARGIN CENTER -------------------------
// Center a block element inside parent block element
$mar-cntr: 0 auto;

// ------------------------- SECTION PADDING -------------------------
// Add padding to a wrapper/container based on screen size
// Update or add/remove as per your project
$sctn-pad-sm-mbl: 3rem 2rem;
$sctn-pad-tblt: 3.5rem 6rem;
$sctn-pad-dsktp: 4rem 10rem;

// ------------------------- FONT-WEIGHT -------------------------
// Variable names based off of Google Fonts naming style
$fw-thin: 100;
$fw-x-lt: 200;
$fw-lt: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-x-lt: 800;
$fw-black: 900;

// ------------------------- FONT SIZES -------------------------
// Quick and easy font-size increase based on screen size (increment of 3.5
// Furthermore, precise styling will be needed, but this covers a lot of ground
$fnt-sz-def: 62.5%; // Default value
$fnt-sz-mbl-lg: 66%;
$fnt-sz-tab-port: 69.5%;
$fnt-sz-tab-land: 73%;
$fnt-sz-laptop: 76.5%;
$fnt-sz-desktop: 80%;
$fnt-sz-desktop-lg: 83.5%;
$fnt-sz-desktop-4k: 87%;

// ------------------------- REM SIZES -------------------------
// Use these for font-size, margin (overall), padding (overall), etc.)
// The values are based on the default font-size declared in the _base.scss file
// Default font size of browsers is 16px, but, we changed that to 10px (62.5%)
// Now all rems are much easier to calculate
// For body text, best to not go above 2rem
// And for line length, try not to go over 90 characters
$sz-xtny-1: 0.25rem;
$sz-xtny-2: 0.5rem;
$sz-xtny-3: 0.75rem;

$sz-tny-1: 1rem;
$sz-tny-2: 1.25rem;
$sz-tny-3: 1.5rem;
$sz-tny-4: 1.75rem;

$sz-xsml-1: 2rem;
$sz-xsml-2: 2.25rem;
$sz-xsml-3: 2.5rem;
$sz-xsml-4: 2.75rem;

$sz-sml-1: 3rem;
$sz-sml-2: 3.25rem;
$sz-sml-3: 3.5rem;
$sz-sml-4: 3.75rem;

$sz-med-1: 4rem;
$sz-med-2: 4.25rem;
$sz-med-3: 4.5rem;
$sz-med-4: 4.75rem;

$sz-lg-1: 5rem;
$sz-lg-2: 5.25rem;
$sz-lg-3: 5.5rem;
$sz-lg-4: 5.75rem;

$sz-xlg-1: 6rem;
$sz-xlg-2: 6.25rem;
$sz-xlg-3: 6.5rem;
$sz-xlg-4: 6.75rem;

$sz-xxlg-1: 7rem;
$sz-xxlg-2: 7.25rem;
$sz-xxlg-3: 7.5rem;
$sz-xxlg-4: 7.75rem;

$sz-hg-1: 8rem;
$sz-hg-2: 8.25rem;
$sz-hg-3: 8.5rem;
$sz-hg-4: 8.75rem;

$sz-xhg-1: 9rem;
$sz-xhg-2: 9.25rem;
$sz-xhg-3: 9.5rem;
$sz-xhg-4: 9.75rem;

$sz-msv-1: 10rem;
$sz-msv-2: 11rem;
$sz-msv-3: 12rem;
$sz-msv-4: 13rem;
$sz-msv-5: 14rem;
$sz-msv-6: 15rem;

// ------------------------- TRANSITIONS -------------------------
// Add/remove for your project if desired - this is just a nice fade-in/out effect
$transit-standard: all 250ms; // default timing, nice ease-in-out effect

$transit-quick-1: all 200ms;
$transit-quick-2: all 300ms;

$transit-med-1: all 350ms;
$transit-med-2: all 400ms;

$transit-slow-1: all 450ms;
$transit-slow-2: all 500ms;

// ------------------------- CUBIC BEZIER TIMING FUNCTIONS -------------------------
// Timing functions courtesy of https://easings.net/en
$-cbtf-easeInSide: (0.47, 0, 0.745, 0.715);
$-cbtf-easeOutSine: (0.39, 0.575, 0.565, 1);
$-cbtf-easeInOutSine: (0.445, 0.05, 0.55, 0.95);

$-cbtf-easeInQuad: (0.55, 0.085, 0.68, 0.53);
$-cbtf-easeOutQuad: (0.25, 0.46, 0.45, 0.94);
$-cbtf-easeInOutQuad: (0.455, 0.03, 0.515, 0.955);

$-cbtf-easeInCubic: (0.55, 0.055, 0.675, 0.19);
$-cbtf-easeOutCubic: (0.215, 0.61, 0.355, 1);
$-cbtf-easeInOutCubic: (0.47, 0, 0.745, 0.715);

$-cbtf-easeInQuart: (0.895, 0.03, 0.685, 0.22);
$-cbtf-easeOutQuart: (0.165, 0.84, 0.44, 1);
$-cbtf-easeInOutQuart: (0.77, 0, 0.175, 1);

$-cbtf-easeInQuint: (0.755, 0.05, 0.855, 0.06);
$-cbtf-easeOutQuint: (0.23, 1, 0.32, 1);
$-cbtf-easeInOutQuint: (0.86, 0, 0.07, 1);

$-cbtf-easeInExpo: (0.95, 0.05, 0.795, 0.035);
$-cbtf-easeOutExpo: (0.19, 1, 0.22, 1);
$-cbtf-easeInOutExpo: (1, 0, 0, 1);

$-cbtf-easeInCirc: (0.6, 0.04, 0.98, 0.335);
$-cbtf-easeOutCirc: (0.075, 0.82, 0.165, 1);
$-cbtf-easeInOutCirc: (0.785, 0.135, 0.15, 0.86);

$-cbtf-easeInBack: (0.6, -0.28, 0.735, 0.045);
$-cbtf-easeOutBack: (0.175, 0.885, 0.32, 1.275);
$-cbtf-easeInOutBack: (0.68, -0.55, 0.265, 1.55);

// ------------------------- BOX SHADOW -------------------------
// Feel free to change the rem values
// For a nice subtle box-shadow, I would not recommend going higher than .25 opacity
$bxshad-xlt-1: 0 1rem 3rem rgba($clr-blk, .05);
$bxshad-xlt-2: 0 1rem 3rem rgba($clr-blk, .10);
$bxshad-xlt-3: 0 1rem 3rem rgba($clr-blk, .15);

$bxshad-lt-1: 0 1rem 3rem rgba($clr-blk, .20);
$bxshad-lt-2: 0 1rem 3rem rgba($clr-blk, .25);

$bxshad-med-1: 0 1rem 3rem rgba($clr-blk, .30);
$bxshad-med-2: 0 1rem 3rem rgba($clr-blk, .35);
$bxshad-med-3: 0 1rem 3rem rgba($clr-blk, .40);

$bxshad-hvy-1: 0 1rem 3rem rgba($clr-blk, .45);
$bxshad-hvy-2: 0 1rem 3rem rgba($clr-blk, .50);